aws.dynamo.tableName="${dynamo_table_name}"
aws.sqs.parallelism="${sqs_parallelism}"
aws.sqs.queue.url="${reindex_jobs_queue_id}"
aws.sns.topic.arn="${reindex_publish_topic_arn}"
aws.metrics.namespace="${metrics_namespace}"
