{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic <SIERRA_OAUTH>"
        },
        "method": "POST",
        "uri": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<BEARER_TOKEN>\",\"token_type\":\"bearer\",\"expires_in\":3600}"
        },
        "headers": {
          "Content-Type": "application/json;charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/token"
      },
      "recorded_at": "2017-11-08T15:47:31"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <BEARER_TOKEN>"
        },
        "method": "GET",
        "uri": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/bibs?id=%5B0%2C%5D&updatedDate=%5B2013-12-10T17%3A16%3A35Z%2C2013-12-13T21%3A34%3A35Z%5D"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"total\":29,\"entries\":[{\"id\":\"1312174\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1525866\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1529320\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1537414\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1537415\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1551217\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1571015\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1580074\",\"deletedDate\":\"2013-12-11\",\"deleted\":true},{\"id\":\"1[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <BEARER_TOKEN>"
        },
        "method": "GET",
        "uri": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/bibs?id=%5B2043110%2C%5D&updatedDate=%5B2013-12-10T17%3A16%3A35Z%2C2013-12-13T21%3A34%3A35Z%5D"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"code\":107,\"specificCode\":0,\"httpStatus\":404,\"name\":\"Record not found\"}"
        },
        "headers": {
          "Content-Type": "application/json;charset=UTF-8"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/bibs?id=%5B2043110%2C%5D&updatedDate=%5B2013-12-10T17%3A16%3A35Z%2C2013-12-13T21%3A34%3A35Z%5D"
      },
      "recorded_at": "2017-11-08T15:47:32"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}