{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic <SIERRA_OAUTH>"
        },
        "method": "POST",
        "uri": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<BEARER_TOKEN>\",\"token_type\":\"bearer\",\"expires_in\":3600}"
        },
        "headers": {
          "Content-Type": "application/json;charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/token"
      },
      "recorded_at": "2017-11-09T10:27:33"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <BEARER_TOKEN>"
        },
        "method": "GET",
        "uri": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/items?id=%5B0%2C%5D&updatedDate=%5B2013-12-10T17%3A16%3A35Z%2C2013-12-13T21%3A34%3A35Z%5D"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"total\":50,\"entries\":[{\"id\":\"1007176\",\"updatedDate\":\"2013-12-12T17:33:27Z\",\"createdDate\":\"1999-11-01T16:39:59Z\",\"deleted\":false,\"bibIds\":[\"1006132\"],\"location\":{\"code\":\"sgmon\",\"name\":\"Closed stores mons.\"},\"status\":{\"code\":\"-\",\"display\":\"Available\"},\"barcode\":\"22102100695\",\"callNumber\":\"M16050\"},{\"id\":\"1010101\",\"updatedDate\":\"2013-12-11T15:59:45Z\",\"createdDate\":\"1999-11-01T17:03:05Z\",\"deleted\":false,\"bibIds\":[\"1008501\"],\"location\":{\"code\":\"sgmon\",\"name\":\"Closed stores mons.\"},\"status\":{\"code\":\"-\",\"display\":\"Available\"},\"barcode\":\"22502930638\",\"callNumber\":\"M4259\"},{\"id\":\"1011398\",\"updatedDate\":\"2013-12-12T16:48:13Z\",\"createdDate\":\"1999-11-01T17:03:39Z\",\"deleted\":false,\"bibIds\":[\"1009751\"],\"location\":{\"code\":[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <BEARER_TOKEN>"
        },
        "method": "GET",
        "uri": "https://libsys.wellcomelibrary.org/iii/sierra-api/v3/items?id=%5B1461847%2C%5D&updatedDate=%5B2013-12-10T17%3A16%3A35Z%2C2013-12-13T21%3A34%3A35Z%5D"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"total\":50,\"entries\":[{\"id\":\"1461851\",\"deletedDate\":\"2014-01-31\",\"deleted\":true,\"bibIds\":[]},{\"id\":\"1461862\",\"deletedDate\":\"2014-01-31\",\"deleted\":true,\"bibIds\":[]},{\"id\":\"1461864\",\"deletedDate\":\"2014-01-31\",\"deleted\":true,\"bibIds\":[]},{\"id\":\"1462796\",\"deletedDate\":\"2014-01-31\",\"deleted\":true,\"bibIds\":[]},{\"id\":\"1462800\",\"deletedDate\":\"2014-01-31\",\"deleted\":true,\"bibIds\":[]},{\"id\":\"1464045\",\"updatedDate\":\"2013-12-12T13:56:07Z\",\"createdDate\":\"2001-06-19T13:57:41Z\",\"deleted\":false,\[...]
