[
  {
    "cpu": 256,
    "essential": true,
    "image": "${image_uri}",
    "memory": 512,
    "name": "api",
    "portMappings": [
      {
        "containerPort": 8888,
        "hostPort": 0
      }
    ],
    "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
            "awslogs-group": "${log_group_name}",
            "awslogs-region": "${log_group_region}"
        }
    }
  }
]
