language: sh

sudo: required

services:
  - docker

dist: trusty

branches:
  only:
    - master

install:
  # We need this for the Elasticsearch Docker container to start
  # See https://github.com/travis-ci/travis-ci/issues/6534
  - sudo sysctl -w vm.max_map_count=262144

cache:
  directories:
    - ~/.sbt
    - ~/.ivy2
    - project/target/resolution-cache
    - project/target/streams
    - api/target
    - common/target
    - id_minter/target
    - ingestor/target
    - transformer/target
    - reindexer/target
    - /home/travis/docker/

script:
  - .travis/run_task.py

env:
  global:
    - AWS_REGION=eu-west-1
    - AWS_DEFAULT_REGION=eu-west-1
    - PLATFORM_ENV=prod
    - CONFIG_BUCKET=platform-infra
    - AWS_ECR_REPO=760097843905.dkr.ecr.eu-west-1.amazonaws.com
    - PYPI_USERNAME=wellcomedigitalplatform

    # This secure environment variable contains an encrypted version of
    # the following environment variables:
    #  * AWS_ACCESS_KEY_ID
    #  * AWS_SECRET_ACCESS_KEY
    #  * PYPI_PASSWORD
    - secure: MsHfrrjKhSm93vQmTsBebF2vxusaFgS1T8IKIAKIxXshQ2mV8CO9mM9Nnq8dxk5Nx6v17RQEplTJ3sn7ZfyJ956SpXMGyTjT4c2YqbCblBTFgTlAsXrE/qZYA+OURNhIQDc1reYDzp3HGP8LUYqssEVDpWOwcNok+9xBvaTquIvRK1yOD0WeEiawF+lBnjOreFKLsqQHSA4uBoVdyvSPSXXAEEQQBrxE34zGUXPM1Nt2/yNH4IzRZOBi39oX64WhPrTKx9Sdv5C4bvw3DyjZizJ+Hn0Rz5riS3R/uNph5Nfg96KLnAdF2Wj/1WrDMzSiu6Lrije3I56pyJAbKLBXrkRYRKhzR6mJr0R8oL9kM70AFsh2u+bTwik9UL5al0fAMJhAM5RgEE8vFfXoxeV7oF05qOPMJe+zno/HdIcjARiIJkUmYeRHPhZpgqK19JA+079MbiyZB9c1XyxNKT1mbY02nF/lNHD5UXIF2amnLYGkKYoylxP9zJvyN87sFy5eITCGYj6V3mTvSz5KPCpcDZS11k2DhD3iKLvkc4Zw+DoRiIZwuS/YStkX/aAtvSEnvSVUt7GkA4Kj6+hOJBzPeJMq/oHCmMhef2aFHvLMXaz1BQkBMKvIl085NuuXKKj8PbnkBEaHwJQekpzX+gpqw65OJI/n32oiMTmYtEp3k2s=

  matrix:
    - TASK=check-format
    - TASK=nginx-build
    - TASK=tif-metadata-build
    - TASK=elasticdump-build
    - TASK=api_docs-build

    # Catalogue pipeline stack
    - TASK=sbt-test-common
    - TASK=sbt-test-transformer
    - TASK=sbt-test-ingestor
    - TASK=sbt-test-id_minter
    - TASK=sbt-test-reindexer

    # Catalogue API stack
    - TASK=sbt-test-api

    # Miro preprocessor stack
    - TASK=miro_preprocessor-test

    # lambda-utils package
    - TASK=lambda_utils-test

    # Shared infra stack
    - TASK=shared_infra-build

    # lambda-utils package
    - TASK=lambda_utils-test

    # Loris stack
    - TASK=loris-build
    - TASK=cache_cleaner-build

    # Monitoring stack
    - TASK=gatling-build
    - TASK=deployment_tracking-test
    - TASK=ecs_dashboard-test
    - TASK=load_test-test
    - TASK=monitoring-test

    # Sierra adapter stack
    - TASK=sierra_adapter-adapter-build


# This has a Slack API token for posting messages about build failures to
# our team channel.  It was created by following the "Setup Instructions" at
# https://wellcome.slack.com/services/B7HD6DUT0#service_setup.
notifications:
  slack:
    secure: XOqr5bsa/A0Ne1My2+c240Q1GUQfqs7/xWLC+e8yDVRDmspTbouTYMtYDG2htLG/pUCUBdeOWdUVDabSetwSHqM4+xvwAtnm9KcNFT1KumVQ/8ZeEVHgrr6sAdI/OzT01JEzvm4cbGTtn/lDc4rZ6DrLeMwvul0dIZMC5PNrMt0qsByj5JtlVU+ih3qZ0fYypeLp4AG7rmpFOaiVPAlXdxpkqtojwP8Q6vDdBA36H24ifiT/snu0Gg3zcR3KCVhTJYNsTe7fNNRffVd/Tl5tBwicx5o+pCf+q+hlfFSw4l3/TnzDlIG5uCccLZVcLdwnnOwQofzjJ7bZPRPbLAa6ynbWTFagwSYzZC3JPfWeyP+I136mK7HqlTG/gD1hUisa/qGUfC9EQIxrg3CXmPj9iGFUhLCUFPR0EUUAfkjcoFUqlPf8EyetE7swBV8d3ngsbfG8H8w42lR60d8f9EhP0N6enWwDRVLky4/PETK7zLPPK42pBy/rIwDpCgYQ7QpetQQyoMM0f5hsTXGUrNZadYN9e6iaJBhKuIggeDUrK7hw4v1bAihzRhPYOWJU+dc7mGoSsJFnPHExyXWu51qejhGoGu9BFu1uI3Unb5Gdb17umYxOm96P5pvR3DC4QoEEVMa7CIOgvKVGhflPqtUaY3Sah2fs0Y6tZfVDsdmwxgo=
    on_success: change
    on_failure: always
    on_pull_requests: false
