language: sh

sudo: required

services:
  - docker

dist: trusty

branches:
  only:
    - master

install:
  # We need this for the Elasticsearch Docker container to start
  # See https://github.com/travis-ci/travis-ci/issues/6534
  - sudo sysctl -w vm.max_map_count=262144

cache:
  directories:
    - ~/.sbt
    - ~/.ivy2
    - project/target
    - target
    - catalogue_api/api/target
    - catalogue_pipeline/common/target
    - catalogue_pipeline/id_minter/target
    - catalogue_pipeline/ingestor/target
    - catalogue_pipeline/transformer/target
    - catalogue_pipeline/recorder/target
    - reindexer/reindex_worker/target
    - common/target

    - data_api/snapshot_generator/target

    - goobi_adapter/goobi_reader/target

    - sbt_common/display/target
    - sbt_common/elasticsearch/target
    - sbt_common/internal_model/target
    - sbt_common/messaging/target
    - sbt_common/monitoring/target
    - sbt_common/storage/target

    - sierra_adapter/common/target
    - sierra_adapter/sierra_reader/target
    - sierra_adapter/sierra_items_to_dynamo/target
    - sierra_adapter/sierra_bib_merger/target
    - sierra_adapter/sierra_item_merger/target

script:
  - ./run_travis_task.py

env:
  global:
    - AWS_ECR_REPO=760097843905.dkr.ecr.eu-west-1.amazonaws.com

    # This forces Python to print everything to stdout/stderr immediately.
    # Otherwise, we've seen issues where all the output from our Travis scripts
    # gets buffered, and only gets printed at the end of the test...
    #
    # ... out of order from the rest of the rest of the output!
    #
    # See also: https://docs.python.org/3/using/cmdline.html#cmdoption-u
    #
    - PYTHONUNBUFFERED=x

jobs:
  include:
    - stage: quicktest
      env: TASK=travis-format
    - env: TASK=travistooling-test

    - stage: sbt-common-test
      env: TASK=sbt-common-test
    - env: TASK=internal_model-test
    - env: TASK=common_display-test
    - env: TASK=common_elasticsearch-test
    - env: TASK=common_messaging-test
    - env: TASK=common_storage-test
    - env: TASK=common_monitoring-test

    # Lambda tests.
    #
    # We test all the Lambdas in a single job to reduce the number of small
    # build VMs we start.  Because most of our applications are Scala, the
    # majority of builds for a Lambda wake up, discover they have nothing to
    # do, and exit immediately.
    #
    # This includes all the tests for monitoring and shared_infra stacks.
    #
    # When this job runs, all the Lambdas get tested at once, but even this
    # isn't significantly longer than a Scala test.
    #
    - stage: test
      env: TRAVIS_LAMBDAS="snapshot_scheduler \
        reindex_job_creator \
        complete_reindex \
        reindex_shard_generator \
        sierra_window_generator \
        s3_demultiplexer \
        drain_ecs_container_instance \
        dynamo_to_sns \
        ecs_ec2_instance_tagger \
        run_ecs_task \
        gatling_to_cloudwatch \
        notify_old_deploys \
        post_to_slack \
        service_deployment_status \
        update_service_list"
      env: TASK=travis-lambda-test

    # Catalogue API stack
    - stage: test
      env: TASK=api-test
    # (not under active development)
    # - env: TASK=api_docs-build

    # Catalogue pipeline stack
    - env: TASK=transformer-test
    - env: TASK=ingestor-test
    - env: TASK=recorder-test
    - env: TASK=matcher-test
    - env: TASK=id_minter-test

    # Data API stack
    - env: TASK=snapshot_generator-test

    # Reindexer stack
    - env: TASK=reindex_worker-test

    # Goobi adapter stack
    - env: TASK=goobi_reader-test

    # Sierra adapter stack
    - env: TASK=sierra_adapter_common-test
    - env: TASK=sierra_reader-test
    - env: TASK=sierra_items_to_dynamo-test
    - env: TASK=sierra_bib_merger-test
    - env: TASK=sierra_item_merger-test

    # (not under active development)

    # nginx stack
    # - env: TASK=nginx-build

    # Loris stack
    # - env: TASK=loris-build
    # - env: TASK=cache_cleaner-build

stages:
  - quicktest
  - sbt-common-test
  - test

# This has a Slack API token for posting messages about build failures to
# our team channel.  It was created by following the "Setup Instructions" at
# https://wellcome.slack.com/services/B7HD6DUT0#service_setup.
notifications:
  slack:
    secure: XOqr5bsa/A0Ne1My2+c240Q1GUQfqs7/xWLC+e8yDVRDmspTbouTYMtYDG2htLG/pUCUBdeOWdUVDabSetwSHqM4+xvwAtnm9KcNFT1KumVQ/8ZeEVHgrr6sAdI/OzT01JEzvm4cbGTtn/lDc4rZ6DrLeMwvul0dIZMC5PNrMt0qsByj5JtlVU+ih3qZ0fYypeLp4AG7rmpFOaiVPAlXdxpkqtojwP8Q6vDdBA36H24ifiT/snu0Gg3zcR3KCVhTJYNsTe7fNNRffVd/Tl5tBwicx5o+pCf+q+hlfFSw4l3/TnzDlIG5uCccLZVcLdwnnOwQofzjJ7bZPRPbLAa6ynbWTFagwSYzZC3JPfWeyP+I136mK7HqlTG/gD1hUisa/qGUfC9EQIxrg3CXmPj9iGFUhLCUFPR0EUUAfkjcoFUqlPf8EyetE7swBV8d3ngsbfG8H8w42lR60d8f9EhP0N6enWwDRVLky4/PETK7zLPPK42pBy/rIwDpCgYQ7QpetQQyoMM0f5hsTXGUrNZadYN9e6iaJBhKuIggeDUrK7hw4v1bAihzRhPYOWJU+dc7mGoSsJFnPHExyXWu51qejhGoGu9BFu1uI3Unb5Gdb17umYxOm96P5pvR3DC4QoEEVMa7CIOgvKVGhflPqtUaY3Sah2fs0Y6tZfVDsdmwxgo=
    on_success: change
    on_failure: always
    on_pull_requests: false
