language: sh

sudo: required

services:
  - docker

dist: trusty

branches:
  only:
    - master

script:
  - ./run_travis.sh

before_cache:
  # Save tagged docker images
  - >
    mkdir -p $HOME/docker && docker images -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}} {{.ID}}'
    | xargs -n 2 -t sh -c 'test -e $HOME/docker/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker/$1.tar.gz'

before_install:
  # Load cached docker images
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi

cache:
  directories:
    - $HOME/docker

jobs:
  include:
    - stage: preflight
      env: TASK=travis-format

    - stage: test
      env: TASK=infrastructure-test
    - env: TASK=reporting-test
    - env: TASK=nginx-build
    - env: TASK=loris-build

    - stage: publish
      env: TASK=infrastructure-publish
    - env: TASK=reporting-publish
    - env: TASK=nginx-publish
    - env: TASK=loris-publish

stages:
  - name: preflight

  - name: test
    if: type != push

  - name: publish
    if: type = push

