language: sh

sudo: required

services:
  - docker

dist: trusty

branches:
  only:
    - master

script:
  - ./run_travis.sh

jobs:
  include:
    - stage: preflight
      env: TASK=travis-format

    - stage: test
      env: TASK=infrastructure-test
    - env: TASK=reporting-test
    - env: TASK=nginx-build
    - env: TASK=loris-build

    - stage: publish
      env: TASK=infrastructure-publish
    - env: TASK=reporting-publish
    - env: TASK=nginx-publish
    - env: TASK=loris-publish

stages:
  - name: preflight

  - name: test
    if: branch != master

  - name: publish
    if: branch = master

