language: scala

sudo: required

services:
  - docker

dist: trusty

branches:
  only:
    - master

before_install:
  - git fetch origin

  # If this is a pull request branch, we only do anything if there are
  # interesting changes between this branch and master.
  #
  # Using 'exit' in a build step will terminate the rest of the build:
  # https://docs.travis-ci.com/user/customizing-the-build/#How-does-this-work%3F-(Or%2C-why-you-should-not-use-exit-in-build-steps)
  - |
    if [[ "$TRAVIS_EVENT_TYPE" == "pull_request" ]]
    then
      if python3 ./scripts/should_rerun_tests.py
      then
        echo "No changes that require us to re-run tests, skipping to the end"
        exit 0
      fi
    fi

  # If this is a push branch (i.e. a build on master), we only do anything
  # if there are interesting changes since the last time we built.
  - |
    if [[ "$TRAVIS_EVENT_TYPE" == "push" ]]
    then
      if python3 ./scripts/should_rebuild_master.py
      then
        echo "No changes that require us to re-build, skipping to the end"
        exit 0
      fi
    fi

install:
  # We need this for the Elasticsearch Docker container to start
  # See https://github.com/travis-ci/travis-ci/issues/6534
  - sudo sysctl -w vm.max_map_count=262144

cache:
  directories:
    - "~/.sbt"
    - "~/.ivy2"
    - "project/target/resolution-cache"
    - "project/target/streams"
    - "api/target"
    - "common/target"
    - "id_minter/target"
    - "ingestor/target"
    - "transformer/target"
    - "reindexer/target"
    - "/home/travis/docker/"

script:
  - ./scripts/travis_run.sh

env:
  global:
    - AWS_REGION=eu-west-1
    - AWS_DEFAULT_REGION=eu-west-1
    - PLATFORM_ENV=prod

    # This secure environment variable contains an encrypted version of
    # the following environment variables:
    #  * AWS_ACCESS_KEY_ID
    #  * AWS_SECRET_ACCESS_KEY
    #  * AWS_ECR_REPO
    #  * CONFIG_BUCKET
    - secure: Pet60dG/PQe1O2/zYQutmbvNKSQdLwEyfHnp4aSbzOoqADR08AOTA6CrMswv+Zs4qBHzxeXAMxgkFM0UpXdNPlw/HQ4FAhstStJFVkoPhWSo5/rbZutkOtWtgBI2+wD/Z0t4n7Tq2h0tW2+IvG/4kCG7qbp6VYOzw1yZzHhT/E2j/S7J/YFTYzMpsYpA35192XMqdzg7dygzUiC+yeYMps4iu4UkbCgAJ19h9vT68E5IpCOyTai4P7HAFiLQ9p+5465g1whU+U0JMWEktGLCjGCblNGnr8YyIh/+IUUue9Kagkr8PXh22OM3/rhsBAgg5qeNO0sujcBq0WJH1dyAFV56Vn/smZS/cQ3EqXg2knfcZWKMHXKLqqdOy4jcPg9A6NIlBnwpC8nC085OpYrnMyyPwaBMg2OpF+Rr6xFzLDglHYmPuO74yJSPqakkLyJbdHDZ4VPOEKseOCWdBaBo8rJXzL9AProDRpFkeA4onpqgFNt5pbY4judgklnnBZLAqk9lCfotk2YCTyHxKJ1X5XV+N9zvPRvD/c/8dMm9VqVKHyuxS71hOPL9y5B+1zYACxbVxgc/Qw/UklOGduaLDPPOtyuTsE59c98lXpFCk/f0txM0CLxQA4pjGQ9x6apx8Eyr5D3I/bAvascujAtMWdtGjd2x4Ez454Huy/krQpE=
  matrix:
    - TASK=check-format
    - TASK=sbt-test-common
    - TASK=sbt-test-api
    - TASK=sbt-test-transformer
    - TASK=sbt-test-ingestor
    - TASK=sbt-test-id_minter
    - TASK=sbt-test-reindexer
    - TASK=lambdas-test
    - TASK=nginx-build
    - TASK=tif-metadata-build
    - TASK=gatling-build
    - TASK=loris-build
    - TASK=miro_adapter-test
    - TASK=elasticdump-build
    - TASK=api_docs-build
