language: sh

sudo: required

services:
  - docker

dist: trusty

branches:
  only:
    - master

install:
  # We need this for the Elasticsearch Docker container to start
  # See https://github.com/travis-ci/travis-ci/issues/6534
  - sudo sysctl -w vm.max_map_count=262144

cache:
  directories:
    - ~/.sbt
    - ~/.ivy2
    - project/target/resolution-cache
    - project/target/streams
    - target
    - catalogue_api/api/target
    - catalogue_pipeline/common/target
    - catalogue_pipeline/id_minter/target
    - catalogue_pipeline/ingestor/target
    - catalogue_pipeline/transformer/target
    - catalogue_pipeline/reindexer/target
    - common/target
    - sierra_adapter/common/target
    - sierra_adapter/sierra_reader/target
    - sierra_adapter/sierra_items_to_dynamo/target
    - sierra_adapter/sierra_bib_merger/target
    - sierra_adapter/sierra_item_merger/target

script:
  - .travis/run_task.py

env:
  global:
    - AWS_REGION=eu-west-1
    - AWS_DEFAULT_REGION=eu-west-1
    - PLATFORM_ENV=prod
    - CONFIG_BUCKET=platform-infra
    - AWS_ECR_REPO=760097843905.dkr.ecr.eu-west-1.amazonaws.com
    - PYPI_USERNAME=wellcomedigitalplatform

    # This secure environment variable contains an encrypted version of
    # the following environment variables:
    #  * AWS_ACCESS_KEY_ID
    #  * AWS_SECRET_ACCESS_KEY
    #  * PYPI_PASSWORD
    - secure: CgvR1hv+oZBiIhQOfqPaLqYx6tnMa9Fr7DbrziiLK8Iu6t99nB/cgDdPUczvCfyQvSDwnWJbYhXhkAWgmlAjTHfojeAt7FbZY1cgpLVBZfMHw/VGOhFWAjPZzpqW+IJvREVUJ3meubs/ZvxLvquTu0Xv0XXXzv30LaNyFgP94+EWQaZyIuKgY0mjS6fR5+x5TQHucs3e+EBVDmRkYDfa8dHWTLp1z9tP/veUnj7drDApXLMjbg6YsWfOIbJ3MDYLesBvWf5+3I+DRj18EF2AJ6Ls8S9IALHTq+jx0uXttqsJ2A7MqjdW+5FtDgkjwUC2eTjfok/gPKvgplM9emjrwSccMnL/msw09ahlH9X0S6zGFmCrrgyPdI3As9+tOiZQDVR4nOrCk1ALLnCS/0OmEsln2LNv8ZSD8vKCH1tng9AcTo4Ey3LfRXYElKCVIRlT38KWKPZGn5uHVdtD6mBLRnAiHHWd6Ebhj43k6q58oOjpAs0d4K20CMg6B8jUM0JzXfTtENh0eDNjDYdvfHFXUy8nKdt7Tpfnjj8y5E4jVclYfNmHRWys+nE/EvBAyV2w5naC6ve5IeP1s1V9LOIKUQMOKqzynSJwGtRzp5gZValN29CBsl1oDiccIyYmwcTc3iZCAacwbCrb3aB3ilD5CK8XsF2KmPLyAYCoF//HDbg=

jobs:
  include:
    - env: TASK=travis-format
      stage: format

    # (not under active development)
    # - env: TASK=nginx-build

    # Sierra adapter stack.  This covers multiple Scala apps, so we skip
    # it into separate tasks to avoid running all of them any time there's
    # a change to just one.
    - stage: test
      env: TASK=sierra_common-test
    - env: TASK=sierra_window_generator-test
    - env: TASK=sierra_reader-test
    - env: TASK=sierra_items_to_dynamo-test
    - env: TASK=sierra_bib_merger-test
    - env: TASK=sierra_item_merger-test
    - env: TASK=s3_demultiplexer-test

    # Catalogue pipeline stack
    - env: TASK=sbt-common-test
    - env: TASK=transformer-test
    - env: TASK=ingestor-test
    - env: TASK=id_minter-test

    # Reindexer stack
    - env: TASK=reindexer_v2/reindex_job_creator-test
    - env: TASK=reindexer_v2/complete_reindex-test

    # Catalogue API stack
    - env: TASK=api-test
    # (not under active development)
    # - env: TASK=api_docs-build

    # Miro preprocessor stack  (not under active development)
    # - env: TASK=miro_preprocessor-test

    # Shared infra stack
    - env: TASK=shared_infra-test

    # Loris stack
    - env: TASK=loris-build
    # (not under active development)
    # - env: TASK=cache_cleaner-build

    # Monitoring stack
    - env: TASK=monitoring-test

stages:
  - format
  - test

# This has a Slack API token for posting messages about build failures to
# our team channel.  It was created by following the "Setup Instructions" at
# https://wellcome.slack.com/services/B7HD6DUT0#service_setup.
notifications:
  slack:
    secure: XOqr5bsa/A0Ne1My2+c240Q1GUQfqs7/xWLC+e8yDVRDmspTbouTYMtYDG2htLG/pUCUBdeOWdUVDabSetwSHqM4+xvwAtnm9KcNFT1KumVQ/8ZeEVHgrr6sAdI/OzT01JEzvm4cbGTtn/lDc4rZ6DrLeMwvul0dIZMC5PNrMt0qsByj5JtlVU+ih3qZ0fYypeLp4AG7rmpFOaiVPAlXdxpkqtojwP8Q6vDdBA36H24ifiT/snu0Gg3zcR3KCVhTJYNsTe7fNNRffVd/Tl5tBwicx5o+pCf+q+hlfFSw4l3/TnzDlIG5uCccLZVcLdwnnOwQofzjJ7bZPRPbLAa6ynbWTFagwSYzZC3JPfWeyP+I136mK7HqlTG/gD1hUisa/qGUfC9EQIxrg3CXmPj9iGFUhLCUFPR0EUUAfkjcoFUqlPf8EyetE7swBV8d3ngsbfG8H8w42lR60d8f9EhP0N6enWwDRVLky4/PETK7zLPPK42pBy/rIwDpCgYQ7QpetQQyoMM0f5hsTXGUrNZadYN9e6iaJBhKuIggeDUrK7hw4v1bAihzRhPYOWJU+dc7mGoSsJFnPHExyXWu51qejhGoGu9BFu1uI3Unb5Gdb17umYxOm96P5pvR3DC4QoEEVMa7CIOgvKVGhflPqtUaY3Sah2fs0Y6tZfVDsdmwxgo=
    on_success: change
    on_failure: always
    on_pull_requests: false
