-api.host=${api_host}
-es.host=${es_host}
-es.port=${es_port}
-es.name=${es_name}
-es.sniff=false
-es.xpack.enabled=true
-es.xpack.user=${es_xpack_user}
-es.xpack.sslEnabled=true
-es.transport.compress=true
