es {
  host="${es_host}"
  port="${es_port}"
  name="${es_name}"
  index="${es_index}"
  type="${es_doc_type}"
  sniff=false
  xpack {
    enabled=true
    user="${es_xpack_user}"
    sslEnabled=true
  }
  transport {
    compress=true
  }
}
aws {
  sqs {
    queue {
      url="${ingest_queue_id}"
    }
  }
}
