-es.host=${es_host}
-es.port=${es_port}
-es.name=${es_name}
-es.index=${es_index}
-es.type=${es_doc_type}
-es.sniff=false
-es.xpack.enabled=true
-es.xpack.user=${es_xpack_user}
-es.sslEnabled=true
-es.transport.compress=true
-aws.sqs.queue.url=${ingest_queue_id}
