aws {
  region = "eu-west-1"
  dynamo {
    streams {
      appName = "transformer-streams"
      arn = "${stream_arn}"
    }
    tableName = "MiroData"
  }
  sns {
    topic {
      arn = "${sns_arn}"
    }
  }
}
