-aws.metrics.namespace=${metrics_namespace}
-aws.sqs.queue.url=${merger_queue_id}
-aws.sns.topic.arn=${merger_topic_arn}
-aws.vhs.s3.bucketName=${vhs_recorder_bucket_name}
-aws.vhs.s3.globalPrefix=recorder
-aws.vhs.dynamo.tableName=${vhs_recorder_table_name}
