-aws.sqs.queue.url=${windows_queue_url}
-aws.sqs.parallelism=1
-aws.metrics.namespace=${metrics_namespace}
-sierra.apiUrl=${sierra_api_url}
-sierra.oauthKey=${sierra_oauth_key}
-sierra.oauthSecret=${sierra_oauth_secret}
-sierra.fields=${sierra_fields}
-aws.s3.bucketName=${bucket_name}
-reader.resourceType=${resource_type}
-reader.batchSize=${batch_size}
