aws.metrics.namespace="${metrics_namespace}"
aws.s3.bucketName="${bucket_name}"
aws.sqs.queue.url="${windows_queue_url}"
aws.sqs.parallelism=1
sierra.apiURL="${sierra_api_url}"
sierra.oauthKey="${sierra_oauth_key}"
sierra.oauthSecret="${sierra_oauth_secret}"
reader.batchSize=${batch_size}
reader.fields="${sierra_fields}"
reader.resourceType="${resource_type}"
