[
  {
    "cpu": ${cpu},
    "essential": true,
    "image": "${app_uri}",
    "memory": ${memory},
    "name": "${name}",
    "environment": ${environment_vars},
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group_name}",
        "awslogs-region": "${log_group_region}"
      }
    },
    "mountPoints": [
      {
        "sourceVolume": "${volume_name}",
        "containerPath": "${container_path}"
      }
    ]
  }
]
