[
  {
    "cpu": 128,
    "essential": true,
    "image": "grafana/grafana",
    "memory": 1024,
    "name": "grafana",
    "environment": [
    ],
    "portMappings": [
      {
        "containerPort": 3000,
        "hostPort": 0
      }
    ],
    "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
            "awslogs-group": "${log_group_name}",
            "awslogs-region": "${log_group_region}"
        }
    }
  }
]
