<configuration>
  <include resource="base-logback-test.xml"/>

  <!--
    The DEBUG logs for internal SQL behaviour are quite chatty.  Log them
    at INFO to keep the logs clean.
  -->
  <logger name="scalikejdbc.StatementExecutor" level="INFO"/>
  <logger name="org.flywaydb.core" level="INFO"/>
</configuration>
