<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
    Hide logs from the ALB healthchecks.

    This helps keep our logs clean - we know that healthchecks are working
    unless an application gets stopped by ECS, and then we can re-enable these
    logs by setting the log level to DEBUG.
  -->
  <logger name="com.twitter.finatra.http.filters.AccessLoggingFilter" level="WARN"/>

  <root level="${log_level:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- reduce external logging -->
  <logger name="org.apache.http" level="ERROR"/>
  <logger name="io.netty" level="ERROR"/>
  <logger name="com.amazonaws" level="WARN"/>
</configuration>
