{
  "jobDefinitionName": "${name}",
  "type": "container",
  "containerProperties": {
    "image": "${image_uri}",
    "memory": ${memory},
    "command": ${command},
    "vcpus": ${vcpus},
    "jobRoleArn": "${job_role_arn}",
    "environment": ${environment_vars},
    "readonlyRootFilesystem": false,
    "volumes": [
        {
            "host": {
                "sourcePath": "/tmp"
            },
            "name": "ephemera"
        }
    ]
  },
  "retryStrategy": {"attempts": 3}
}