.ServiceBox {
  text-align: center;

  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  border-color: #ddd;
  position: relative;
}

.ServiceBox--Header {
  background-color: #f5f5f5;
  padding: 5px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ServiceBox--Body {
  padding: 15px;
}

.ServiceBox__NotStable {
  background-color: #fcf8e3;
}

.ServiceBox__NotStable .ServiceBox--Header {
  color: #fff;
  background-color: #BAAA58;
}

.ServiceBox__Bad {
  background-color: #BA715C;
}

.ServiceBox__Bad .ServiceBox--Header {
  color: #fff;
  background-color: #BA5537;
}

.ServiceBox ul {
  list-style: none;
  padding: 0px;
}

.ServiceBox h3 {
  font-size: 30px;
  padding: 0px;
  margin: 0 10px 10px 10px;
  color: rgb(50, 50, 50);
}

a.ServiceBox--Header__Name:hover + .EventBox {
    display: block;
}

@media (min-width: 1025px) {
  .TaskCounterHolder {
    display: grid;
    grid: auto-flow / repeat(3, auto);
    grid-gap: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 641px) {
  .TaskCounterHolder {
    display: grid;
    grid: auto-flow / repeat(2, auto);
    grid-gap: 10px;
  }
}

@media (max-width: 640px) {
  .TaskCounterHolder {
    display: grid;
    grid: auto-flow / repeat(1, auto);
    grid-gap: 10px;
  }
}