@media (min-width: 1025px) {
  .ClusterList {
    display: grid;
    grid: auto-flow / repeat(3, auto);
    grid-gap: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 641px) {
  .ClusterList {
    display: grid;
    grid: auto-flow / repeat(2, auto);
    grid-gap: 10px
  }
}

@media (max-width: 640px) {
  .ClusterList {
    display: grid;
    grid: auto-flow / repeat(1, auto);
    grid-gap: 10px;
  }
}
