@media (min-width: 641px) {
  .ClusterList {
    display: grid;
    grid: auto-flow / repeat(2, auto);
    grid-gap: 10px;
  }
}

@media (max-width: 640px) {
  .ClusterList {
    display: grid;
    grid: auto-flow / repeat(1, auto);
    grid-gap: 10px;
  }
}