.DeploymentList {
  background-repeat: repeat-x;
  border-color: #9acfea;
  background-color: #f5f5f5;
  padding:10px;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: grid;
  grid-auto-columns: 2fr;
  grid-gap: 10px;
  grid-template-areas: "a a";
}

.DeploymentList__Deploying {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #f5f5f5;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: #f5f5f5;
  }
}

.Deployment {
  padding: 5px;
  margin-bottom: 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Deployment--Status {
  min-width: 10px;
  padding: 2px 3px;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 10px
}

.Deployment__Blue {
  background-color: #add8e6;
}

.Deployment__Green {
  background-color: #18d412;
}

.Deployment__Red {
  background-color: #a94442;
}

.Deployment__Red .Deployment--Details {
  color: #FFF;
}

.Deployment__Inactive {
  background-color: #ddd;
}
