.TaskCounter {
  background-color: #f5f5f5;

  box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  border: 1px solid transparent;
  border-radius: 4px;
}

.TaskCounter__Warn {
  background-color: #fcf8e3;
}

.TaskCounter__Safe {
  background-color: #dff0d8;
}

.TaskCounter--Type {
  font-size: small;
  color: rgb(50, 50, 50);
  padding: 5px 5px 2px 5px;
}

.TaskCounter--Count {
  font-size: large;
}
