-aws.sqs.queue.url=${queue_url}
-aws.s3.bucketName=${vhs_bucket_name}
-aws.metrics.namespace=${metrics_namespace}
-aws.sns.topic.arn=${topic_arn}
-aws.dynamo.tableName=${dynamo_table}
-aws.dynamo.tableIndex=${dynamo_index}
-aws.dynamo.locking.service.lockTableName=${dynamo_lock_table}
