-aws.rds.host=${rds_host}
-aws.rds.identifiers.database=${rds_database_name}
-aws.rds.identifiers.table=identifiers
-aws.rds.password=${rds_password}
-aws.rds.port=${rds_port}
-aws.rds.userName=${rds_username}
-aws.sqs.queue.url=${id_minter_queue_id}
-aws.sns.topic.arn=${es_ingest_topic_arn}
-aws.metrics.namespace=${metrics_namespace}
-known.identifierSchemes=miro-image-number,sierra-system-number
