-es.host=${es_host}
-es.port=${es_port}
-es.name=${es_name}
-es.index=${es_index}
-es.type=${es_doc_type}
-aws.sqs.queue.url=${ingest_queue_id}
-aws.metrics.namespace=${metrics_namespace}
-es.username=${es_username}
-es.password=${es_password}
-es.protocol=${es_protocol}
