-aws.dynamo.sierraData.tableName=${dynamo_table_name}
-aws.sqs.queue.url=${windows_queue_url}
-aws.metrics.namespace=${metrics_namespace}
-sierra.apiUrl=${sierra_api_url}
-sierra.oauthKey=${sierra_oauth_key}
-sierra.oauthSecret=${sierra_oauth_secret}
-sierra.resourceType=${sierra_resource_type}
