{
  "swagger": "2.0",
  "info": {
    "description": "Search our collections",
    "version": "v2",
    "title": "Catalogue"
  },
  "host": "api.wellcomecollection.org",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/ld+json"
  ],
  "paths": {
    "/catalogue/v2/works": {
      "get": {
        "tags": [
          "Works"
        ],
        "summary": "/works",
        "description": "Returns a paginated list of works",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page to return from the result list",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of works to return per page (default: 10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Full-text search query, which will OR supplied terms by default.\n\nThe following special characters can be used to change the search behaviour:\n\n- \\+ signifies AND operation\n- | signifies OR operation\n- \\- negates a single token\n- \" wraps a number of tokens to signify a phrase for searching\n- \\* at the end of a term signifies a prefix query\n- ( and ) signify precedence\n- ~N after a word signifies edit distance (fuzziness)\n- ~N after a phrase signifies slop amount\n\nTo search for any of these special characters, they should be escaped with \\.",
            "required": false,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of extra fields to include",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "identifiers",
                "items",
                "subjects",
                "genres",
                "contributors",
                "production"
              ]
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "ResultList[Work]",
            "schema": {
              "$ref": "#/definitions/ResultList"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/catalogue/v2/works/{id}": {
      "get": {
        "tags": [
          "Works"
        ],
        "summary": "/works/{id}",
        "description": "Returns a single work",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The work to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of extra fields to include",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "identifiers",
                "items",
                "subjects",
                "genres",
                "contributors",
                "production"
              ]
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Work",
            "schema": {
              "$ref": "#/definitions/Work"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Gone Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ResultList": {
      "type": "object",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Number of things returned per page"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of pages in the result list"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of results in the result list"
        },
        "results": {
          "type": "array",
          "description": "List of things in the current page",
          "items": {
            "$ref": "#/definitions/Work"
          }
        },
        "type": {
          "type": "string",
          "description": "A type of thing",
          "readOnly": true
        }
      },
      "description": "A list of things."
    },
    "Work": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The canonical identifier given to a thing.",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "The title or other short label of a work, including labels not present in the actual work or item but applied by the cataloguer for the purposes of search or description."
        },
        "description": {
          "type": "string",
          "description": "A description given to a thing."
        },
        "physicalDescription": {
          "type": "string",
          "description": "A description of specific physical characteristics of the work."
        },
        "workType": {
          "description": "The type of work.",
          "$ref": "#/definitions/WorkType"
        },
        "extent": {
          "type": "string",
          "description": "Number of physical pages, volumes, cassettes, total playing time, etc., of of each type of unit"
        },
        "lettering": {
          "type": "string",
          "description": "Recording written text on a (usually visual) work."
        },
        "createdDate": {
          "description": "Relates the creation of a work to a date, when the date of creation does not cover a range.",
          "$ref": "#/definitions/Period"
        },
        "contributors": {
          "type": "array",
          "description": "Relates a work to its author, compiler, editor, artist or other entity responsible for its coming into existence in the form that it has.",
          "items": {
            "$ref": "#/definitions/Contributor"
          }
        },
        "identifiers": {
          "type": "array",
          "description": "Relates the item to a unique system-generated identifier that governs interaction between systems and is regarded as canonical within the Wellcome data ecosystem.",
          "items": {
            "$ref": "#/definitions/Identifier"
          }
        },
        "subjects": {
          "type": "array",
          "description": "Relates a work to the general thesaurus-based concept that describes the work's content.",
          "items": {
            "$ref": "#/definitions/Subject"
          }
        },
        "genres": {
          "type": "array",
          "description": "Relates a work to the genre that describes the work's content.",
          "items": {
            "$ref": "#/definitions/Genre"
          }
        },
        "thumbnail": {
          "description": "Relates any thing to the location of a representative thumbnail image",
          "$ref": "#/definitions/Location"
        },
        "items": {
          "type": "array",
          "description": "List of items related to this work.",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "production": {
          "type": "array",
          "description": "Relates a work to its production events.",
          "items": {
            "$ref": "#/definitions/ProductionEvent"
          }
        },
        "language": {
          "description": "Relates a work to its primary language.",
          "$ref": "#/definitions/Language"
        },
        "dimensions": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "A broad, top-level description of the form of a work: namely, whether it is a printed book, archive, painting, photograph, moving image, etc.",
          "readOnly": true
        }
      },
      "description": "An individual work such as a text, archive item or picture; or a grouping of individual works (so, for instance, an archive collection counts as a work, as do all the series and individual files within it).  Each work may exist in multiple instances (e.g. copies of the same book).  N.B. this is not synonymous with \\\"work\\\" as that is understood in the International Federation of Library Associations and Institutions' Functional Requirements for Bibliographic Records model (FRBR) but represents something lower down the FRBR hierarchy, namely manifestation. Groups of related items are also included as works because they have similar properties to the individual ones."
    },
    "Error": {
      "type": "object",
      "properties": {
        "errorType": {
          "type": "string",
          "description": "The type of error",
          "enum": [
            "http"
          ]
        },
        "httpStatus": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP response status code"
        },
        "label": {
          "type": "string",
          "description": "The title or other short name of the error"
        },
        "description": {
          "type": "string",
          "description": "The specific error"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Agent": {
      "type": "object"
    },
    "Concept": {
      "type": "object"
    },
    "ContributionRole": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "The name of the agent"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A contribution role"
    },
    "Contributor": {
      "type": "object",
      "properties": {
        "agent": {
          "description": "The agent.",
          "$ref": "#/definitions/Agent"
        },
        "roles": {
          "type": "array",
          "description": "The list of contribution roles.",
          "items": {
            "$ref": "#/definitions/ContributionRole"
          }
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A contributor"
    },
    "DigitalLocation": {
      "allOf": [
        {
          "$ref": "#/definitions/Location"
        },
        {
          "type": "object",
          "properties": {
            "locationType": {
              "description": "The type of location that an item is accessible from.",
              "$ref": "#/definitions/LocationType"
            },
            "url": {
              "type": "string",
              "description": "The URL of the digital asset."
            },
            "credit": {
              "type": "string",
              "description": "Who to credit the image to"
            },
            "license": {
              "description": "The specific license under which the work in question is released to the public - for example, one of the forms of Creative Commons - if it is a precise license to which a link can be made.",
              "$ref": "#/definitions/License"
            },
            "type": {
              "type": "string",
              "description": "A type of thing",
              "readOnly": true
            }
          },
          "description": "A digital location that provides access to an item"
        }
      ]
    },
    "Genre": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "A label given to a thing."
        },
        "concepts": {
          "type": "array",
          "description": "Relates a genre to a list of concepts.",
          "items": {
            "$ref": "#/definitions/Concept"
          }
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A genre"
    },
    "Identifier": {
      "type": "object",
      "properties": {
        "identifierType": {
          "description": "Relates a Identifier to a particular authoritative source identifier scheme: for example, if the identifier is MS.49 this property might indicate that this identifier has its origins in the Wellcome Library's CALM archive management system.",
          "$ref": "#/definitions/IdentifierType"
        },
        "value": {
          "type": "string",
          "description": "The value of the thing. e.g. an identifier"
        },
        "type": {
          "type": "string",
          "description": "A type of thing",
          "readOnly": true
        }
      },
      "description": "A unique system-generated identifier that governs interaction between systems and is regarded as canonical within the Wellcome data ecosystem."
    },
    "IdentifierType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Item": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The canonical identifier given to a thing.",
          "readOnly": true
        },
        "identifiers": {
          "type": "array",
          "description": "Relates the item to a unique system-generated identifier that governs interaction between systems and is regarded as canonical within the Wellcome data ecosystem.",
          "items": {
            "$ref": "#/definitions/Identifier"
          }
        },
        "locations": {
          "type": "array",
          "description": "List of locations that provide access to the item",
          "items": {
            "$ref": "#/definitions/Location"
          }
        },
        "type": {
          "type": "string",
          "description": "A type of thing",
          "readOnly": true
        }
      },
      "description": "An item is a manifestation of a Work."
    },
    "Language": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "An ISO 639-2 language code."
        },
        "label": {
          "type": "string",
          "description": "The name of a language"
        },
        "type": {
          "type": "string",
          "description": "A type of thing",
          "readOnly": true
        }
      },
      "description": "A language recognised as one of those in the ISO 639-2 language codes."
    },
    "License": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "A type of license under which the work in question is released to the public.",
          "enum": [
            "cc-by",
            "cc-by-nc",
            "cc-by-nc-nd",
            "cc-0",
            "pdm"
          ]
        },
        "label": {
          "type": "string",
          "description": "The title or other short name of a license"
        },
        "url": {
          "type": "string",
          "description": "URL to the full text of a license"
        },
        "type": {
          "type": "string",
          "description": "A type of thing",
          "readOnly": true
        }
      },
      "description": "The specific license under which the work in question is released to the public - for example, one of the forms of Creative Commons - if it is a precise license to which a link can be made."
    },
    "Location": {
      "type": "object",
      "description": "A location that provides access to an item"
    },
    "LocationType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Period": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The canonical identifier given to a thing"
        },
        "identifiers": {
          "type": "array",
          "description": "Relates the item to a unique system-generated identifier that governs interaction between systems and is regarded as canonical within the Wellcome data ecosystem.",
          "items": {
            "$ref": "#/definitions/Identifier"
          }
        },
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A period of time"
    },
    "PhysicalLocation": {
      "allOf": [
        {
          "$ref": "#/definitions/Location"
        },
        {
          "type": "object",
          "properties": {
            "locationType": {
              "description": "The type of location that an item is accessible from.",
              "$ref": "#/definitions/LocationType"
            },
            "label": {
              "type": "string",
              "description": "The title or other short name of the location."
            },
            "type": {
              "type": "string",
              "description": "A type of thing",
              "readOnly": true
            }
          },
          "description": "A physical location that provides access to an item"
        }
      ]
    },
    "Place": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The canonical identifier given to a thing"
        },
        "identifiers": {
          "type": "array",
          "description": "Relates the item to a unique system-generated identifier that governs interaction between systems and is regarded as canonical within the Wellcome data ecosystem.",
          "items": {
            "$ref": "#/definitions/Identifier"
          }
        },
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A place"
    },
    "ProductionEvent": {
      "type": "object",
      "properties": {
        "places": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Place"
          }
        },
        "agents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Agent"
          }
        },
        "dates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Period"
          }
        },
        "function": {
          "$ref": "#/definitions/Concept"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An event contributing to the production, publishing or distribution of a work."
    },
    "Subject": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "A label given to a thing."
        },
        "concepts": {
          "type": "array",
          "description": "Relates a subject to a list of concepts.",
          "items": {
            "$ref": "#/definitions/Concept"
          }
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A subject"
    },
    "WorkType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A broad, top-level description of the form of a work: namely, whether it is a printed book, archive, painting, photograph, moving image, etc."
    }
  }
}
